.desafio1 {
color: orange;
text-align: center;
}

#lista1 {
list-style-type: square;
color: #3dbce6;
background-color: blanchedalmond;
line-height: 30px;
text-decoration: underline;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

#lista2 {
list-style-type: decimal;
color: #3dbce6;
background-color: rgb(232, 238, 198);
line-height: 30px;
text-decoration: underline;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}