/* Pseudo-classes dinâmicas */

div:hover {
    color: orange;
}
a:active {
    color: blue;
}
a:visited { 
    color: red; 
}
input:focus {
    background-color: yellow;
}

/* Este seletor define a cor laranja para o primeiro filho li dentro de qualquer elemento pai */
li:first-child{
    color: orange
}

/* Este seletor define a cor vermelha para o último filho li dentro de qualquer elemento pai */
li:last-child{
    color:red
}
li:nth-child(2n+1){ 
    color: green; 
}
    
input[type="checkbox"]:checked {
    margin-left: 25px;
}
::placeholder{
    color: blue;
}
p::first-letter{
    color: red;
    text-transform: uppercase;
}
p::first-line{
    color: blue;
}
p::selection{
    color: red;
    background: yellow;
}
::marker {
    color:red;
    font-size: 23px;
}