body{
    background: black;
}
.vinho1{
    height: 200px;
    margin-left: 700px;
}
.vinho2{
    height: 200px;
    margin-left: 700px;
}
.vinho3{
    height: 200px;
}
.desc_vinho1 {
    color: white;
}
.desc_vinho2 {
    color: white;
}
.desc_vinho3 {
    color: white;
}
.desc1 {
    color: white;
    margin-left: 200px;
}
.desc2 {
    color: white;
}
.desc3 {
    color: white;
}